.cards-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

@media (min-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-container {
    width: 100%;
    perspective: 1000px;

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed greenyellow; */
}

.card {
    width: 100%;
    height: 27rem;
    transform-origin: center; /* added */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
}

.card-front,
.card-back {
    padding: 2rem 1.5rem 2.5rem 1.5rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 4px 4px 0px rgba(228, 228, 228, 0.25) inset,
        0px -2px 4px 0px rgba(198, 198, 198, 0.25) inset;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2.5rem;
}

.card-front {
    background: var(--white-gray, #cad0d6);
    /* align background image to the card's bottom */
    background-position: right bottom;
    background-image: url("../../public/images/6-card.png");
    background-repeat: no-repeat;
}

.card-container:nth-child(even) .card-front {
    background-color: var(--clr-black-gradient);
    color: var(--clr-white);
}
/* 
.card-front .card-image {
    position: absolute;
    right: 0%;
    bottom: 0%;
} 
*/

.card-front__top-grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto 4rem;
    gap: 1.5rem;

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed greenyellow; */
}

.card-front__top-grid .h4 {
    max-width: 15rem;
    /* width: clamp(15rem, 16.6vw, 60%);
    position: absolute;
    top: 2rem;
    left: 1.5rem; */
}

/* 
.card-front .card-icon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}
 */

.card-front button-toggle-more {
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
}

.card-back {
    background-color: var(--clr-black-gradient);

    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-back__top-grid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto 3rem;
    gap: 1.5rem;

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed greenyellow; */
}

.card-back__top-grid .h4 {
    max-width: 15rem;
    /* position: absolute;
    top: 2rem;
    left: 1.5rem; */
}

.card-back__top-grid .card-icon {
    width: 3rem;
    height: 3rem;
    /* position: absolute;
    top: 2.5rem;
    right: 2rem; */
}

.card-back__bottom-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* row-gap: 0rem; */
    flex-wrap: wrap-reverse;
    /* column-gap: 1rem; */

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed greenyellow; */
}

.card-back__bottom-flex .card-button-wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed blue; */
}

/* .card-back button-toggle-less {
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
} */

.card-back__bottom-flex .card-items {
    padding-top: 1rem;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* position: absolute;
    right: 1.5rem;
    bottom: 2.5rem; */

    /* FOR TEST-TBS / remove in prod: */
    /* border: 1px dashed red; */
    padding-left: 1.5rem;
}

.card-items p {
    position: relative;
    max-width: 15.5rem;
}

.card-items p::before {
    content: "";
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-orange-right.svg") no-repeat
        center;
    position: absolute;
    left: -1.5rem;
    top: 0rem;
}

.card.flipped {
    transform: rotateY(180deg);
}
