@import "reset.css";
@import "section-menu.css";
@import "section-header.css";
@import "section-services.css";
@import "section-engage.css";
@import "section-about.css";
@import "section-getintouch.css";
@import "section-footer.css";
@import "section-modal.css";

@import "font-family-gsv.css";
@import "font-styles.css";
@import "tags.css";
@import "arrows.css";
@import "cards.css";
@import "components.css";

:root {
    /* primary colors */
    --clr-black-gray: hsl(0, 0%, 15%); /* #272727; - primary dark-gray */
    --clr-gray: hsl(0, 0%, 44%); /* #717171; - primary gray (background) */
    --clr-fire-red: hsl(11, 100%, 39%); /* #c52300; - primary orange */
    --clr-sky-gray: hsl(210, 13%, 82%); /* #cad0d6; - primary light-gray */
    --clr-royal-blue: hsl(223, 100%, 50%); /* #0047ff; - primary blue */

    /* secondary colors */
    --clr-black: hsl(0, 0%, 11%); /* #1d1d1d; - black */
    --clr-white: hsl(0, 0%, 100%); /* #ffffff; - white */
    --clr-medium-gray: hsl(0, 0%, 74%); /* #bdbdbd; - medium-gray */
    --clr-dark-gray: hsla(0, 0%, 50%, 1); /* #7E7E7E; - dark-gray */
    --clr-transparent: hsla(0, 0%, 0%, 0); /* transparent */

    /* gradients */
    --clr-black-gradient: linear-gradient(
        146deg,
        #151515 6.46%,
        #2c2c2c 53.91%,
        #000 90.82%
    );
    --clr-blue-orange-gradient: linear-gradient(146deg, #0047ff, #c52300);

    /* border-radius */
    --br-18: 18px;
    --br-24: 24px;
    --br-32: 32px;
    --br-40: 40px;
    --br-48: 48px;

    /* padding */
    --pd-100: 8px;
    --pd-200: 16px;
    --pd-300: 24px;
    --pd-400: 32px;
    --pd-500: 48px;

    /* margin */
    --mg-8: 8px;
    --mg-16: 16px;
    --mg-24: 24px;
    --mg-32: 32px;
    --mg-40: 40px;

    font-family: "GeneralSans-Variable", system-ui, -apple-system, sans-serif;

    background: var(--clr-gray);
    color: var(--clr-black);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding-bottom: 1rem;
    /* max-width: 1440px; */
    max-width: 1800px;
    min-width: 360px;
    background-color: var(--clr-sky-gray);
}

/* fix content while dropdown menu is open */
.body-fixed {
    overflow: hidden;
}
