#menu {
    padding: 0.5rem;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    /* max-width: calc(1440px - 2rem); */
    max-width: calc(1800px - 2rem);
    min-width: calc(360px - 2rem);
    z-index: 800;

    background: var(--clr-black);
    border-radius: var(--br-18);
    color: var(--clr-white);
}

.menu-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-top img {
    height: 27px;
    width: auto;
}

.menu-top__links {
    display: none;
}

.menu-top__links.hide {
    display: none;
}

@media (min-width: 576px) {
    .menu-top__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: clamp(1rem, 3vw, 4.5rem);
    }

    .menu-top__links a {
        color: var(--clr-white);
        text-decoration: none;
    }

    .menu-top__links a:hover {
        color: var(--clr-royal-blue);
    }
}

.menu-btn-burger-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 3vw, 2.5rem);
}

#menuBtnGetintouch.hide {
    display: none;
}

.menu-burger {
    width: 32px;
    height: 32px;
    background: var(--clr-transparent);
    position: relative;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-burger::before,
.menu-burger::after,
.menu-burger div {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--clr-white);
    transition: transform 0.3s ease;
}
.menu-burger div {
    top: calc(50% + 1px);
    transform: translateY(-50%);
}

.menu-burger::before {
    top: calc(50% - 8px);
}

.menu-burger::after {
    top: calc(50% + 8px);
}

.menu-burger.active div {
    display: none;
}

.menu-burger.active::before {
    transform: rotate(45deg);
    top: 50%;
}

.menu-burger.active::after {
    transform: rotate(-45deg);
    top: 50%;
}

.menu-dropdown-wrapper {
    display: none;
}

.menu-dropdown-wrapper.active {
    display: block;
}

.menu-dropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-dropdown__image {
    max-width: 50%;
    display: none;
}

.menu-dropdown img {
    width: 100%;
    object-fit: cover;
}

.menu-dropdown__text {
    padding: 6rem 3rem 3rem 0;
}

.menu-dropdown__links {
    margin-bottom: clamp(3rem, 3vw, 5rem);
}

@media (min-width: 768px) {
    .menu-dropdown {
        justify-content: space-between;
    }

    .menu-dropdown__image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.menu-dropdown__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.menu-dropdown__links a {
    color: var(--clr-white);
    text-decoration: none;
}

.menu-dropdown__links a:hover {
    color: var(--clr-royal-blue);
}
