#footer {
    margin: 0 1rem;
    padding-top: clamp(1.5rem, 3.5vw, 2rem);
    padding-inline: 3rem;
    padding-bottom: clamp(2.5rem, 3.5vw, 2rem);

    width: auto;

    background: var(--clr-black-gradient);
    border-radius: var(--br-24);
    color: var(--clr-white);

    /* display: flex; */
    /* flex-direction: column; */
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5rem;
}
