#services {
    margin: 0 1rem;
    padding-top: clamp(7.5rem, 14vw, 9.5rem);
    padding-inline: clamp(1rem, 3.5vw, 3rem);
    padding-bottom: clamp(1rem, 10.6vw, 11rem);

    width: auto;

    background-color: var(--clr-black-gray);
    border-radius: var(--br-32);

    display: flex;
    flex-direction: column;
}

.services-header-grid {
    margin-bottom: clamp(6rem, 14vw, 10rem);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
}

.services-header-grid__block-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid yellowgreen; */
}

/* .services-header-grid__block-3 video {
    width: 80%;
    max-width: 20rem;
    object-fit: contain;
} */

.services-header-grid__block-3 .logo-3d {
    width: 80%;
    max-width: 20rem;
    object-fit: contain;

    /* border: 1px solid red; */
}

.services-header-grid__block-3 .logo-3d img,
.services-header-grid__block-3 .logo-3d video {
    width: 100%;
    height: auto;

    /* development */
    /* display: none; */
}

.services-header-grid__block-4 {
    max-width: 24rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services-header-grid__block-4 p {
    margin-left: clamp(2rem, 6vw, 5rem);
    position: relative;
}

.services-header-grid__block-4 p::before {
    content: "";
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-orange-right.svg") no-repeat
        center;
    position: absolute;
    margin-left: clamp(-1.5rem, 6vw, -4.5rem);
    top: 0rem;
}

@media (min-width: 800px) {
    .services-header-grid {
        grid-template-columns: 1fr 60%;
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
        row-gap: 1rem;
    }

    .services-header-grid__block-1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .services-header-grid__block-2 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .services-header-grid__block-3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .services-header-grid__block-4 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 1300px) {
    .services-header-grid {
        row-gap: 0.5rem;
    }

    .services-header-grid__block-2 {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .services-header-grid__block-4 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

#services .orange-line {
    margin-bottom: 5rem;
}

.services-include {
    margin-bottom: clamp(2rem, 8vw, 8rem);
    color: var(--clr-white);
}

#services .orange-line {
    margin-bottom: 5rem;
}

.services-include {
    margin-bottom: clamp(2rem, 8vw, 8rem);
    color: var(--clr-white);
}
