#engage {
    padding: 0 clamp(1rem, 3vw, 4rem);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#engage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../public/images/aircraft2_s.png") no-repeat right
        bottom;
    background-size: contain;
    z-index: 200;
}

.engage-grid {
    margin-top: clamp(6.5rem, 15vw, 8.5rem);
    margin-bottom: clamp(19.5rem, 40vw, 22.5rem);
    display: grid;
}

.engage-grid__item-2 {
    max-width: 65%;
}

.engage-grid__item-3 {
    padding-top: 2.5rem;
}

.engage-circle {
    width: clamp(25rem, 40vw, 40rem);
    height: clamp(25rem, 40vw, 40rem);
    position: absolute;
    right: -8rem;
    bottom: -5rem;
    z-index: 100;
}

@media (min-width: 600px) {
    #engage::before {
        background: url("../../public/images/aircraft2_l.png") no-repeat right
            bottom;
        background-size: 110vw;
        background-size: cover;
    }
    .engage-circle {
        right: -4rem;
        bottom: 0rem;
    }
}

@media (min-width: 768px) {
    #engage::before {
        background-size: 90vw;
        background-size: contain;
    }
    .engage-grid {
        grid-template-columns: 30% 65% 1fr;
    }

    .engage-grid__item-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .engage-grid__item-2 {
        max-width: none;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .engage-grid__item-3 {
        display: flex;
        align-items: flex-end;
    }
    .engage-circle {
        right: -5rem;
        bottom: -1rem;
    }
}
