#header {
    padding: 0 clamp(1rem, 3vw, 4rem);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-title {
    margin-top: clamp(8.5rem, 21.3vw, 9.5rem);
    margin-bottom: clamp(5.5rem, 13.8vw, 8rem);
    z-index: 200;
}

.header-visual {
    width: 100%;
    height: clamp(10rem, 25vw, 20rem);
    position: relative;
}

.header-visual .aircraft-3d {
    width: 110%;
    max-height: 120%;
    object-fit: contain;
    position: absolute;
    top: -50%;
    right: -10%;
    z-index: 500;
}

.header-visual .aircraft-3d img,
.header-visual .aircraft-3d video {
    width: 100%;
    height: auto;
}

.header-circle {
    width: clamp(16rem, 40vw, 40rem);
    height: clamp(16rem, 40vw, 40rem);
    position: absolute;
    top: -75%;
    right: -3rem;
    z-index: 100;
}

.header-visual .tag-vertical {
    position: absolute;
    top: 0%;
    left: 0%;
}

.header-info {
    margin-bottom: clamp(3rem, 7.5vw, 5rem);
    max-width: 26rem;
}

.header-info__tags-flex {
    margin-bottom: clamp(2.38rem, 5.9vw, 3.5rem);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.header-info__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(2.88rem, 7.2vw, 4.31rem);
}

.header-info__body_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(1.88rem, 4.7vw, 2.38rem);
}

@media (min-width: 992px) {
    .header-wrapper {
        display: grid;
        grid-template-columns: 26rem auto;
        grid-template-rows: 1fr;
    }

    .header-info {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header-visual {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .header-circle {
        top: -40%;
        right: 2.5rem;
    }

    /* .header-visual video { */
    .header-visual .aircraft-3d {
        top: -50%;
    }

    .header-visual .tag-vertical {
        top: -70%;
        left: 70%;
    }
}

@media (min-width: 1700px) {
    /* .header-visual video { */
    .header-visual .aircraft-3d {
        width: auto;
        height: 120%;
        /* max-height: 120%; */
        object-fit: contain;
        position: absolute;
        top: -60%;
        right: 0%;
        z-index: 500;
    }

    .header-visual .tag-vertical {
        top: -75%;
        left: 80%;
    }
}
