/* default settings */
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

section {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    padding: 0.5rem;
}
/* default settings end */

.test-div-grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.5rem;
    margin: 1rem 0;
}

.test-div-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    /* margin: 2rem 0; */
}

.test-div-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    /* margin: 2rem 0; */
}

.test-block {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 24px 24px;
    border: 1px solid var(--clr-gray);
    border-radius: 40px;
    /* background: var(--clr-black-gradient); */
    /* background: var(
        --Linear,
        linear-gradient(146deg, #151515 6.46%, #2c2c2c 53.91%, #000 90.82%)
    ); */
    /* box-shadow: 0px 4px 4px 0px rgba(228, 228, 228, 0.25) inset,
        0px -2px 4px 0px rgba(198, 198, 198, 0.25) inset; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.test-block img {
    width: 100%;
    object-fit: cover;
}

.test-block video {
    width: 100%;
}

.test-div-flex {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.test-div-flex-column {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* set background */

.bg-light {
    background: var(--clr-white);
}

.bg-dark {
    background: var(--clr-black-gray);
}

.bg-gradient {
    background: var(--clr-black-gradient);
}

.ft-dark {
    color: var(--clr-black);
}

.ft-light {
    color: var(--clr-white);
}

.card-frame {
    padding: 24px 24px;
    border: 1px solid var(--clr-transparent);
    border-radius: 40px;
    /* background: var(--clr-black-gradient); */
    /* background: var(
        --Linear,
        linear-gradient(146deg, #151515 6.46%, #2c2c2c 53.91%, #000 90.82%)
    ); */
    box-shadow: 0px 4px 4px 0px rgba(228, 228, 228, 0.25) inset,
        0px -2px 4px 0px rgba(198, 198, 198, 0.25) inset;
}

/* TEST: Toggle Button */
.btn-toggle-more {
    background-color: var(--clr-royal-blue);
    border: none;
    border-radius: 48px;
    color: var(--clr-white);
    padding: 12px 16px;
    /* font-size: 1rem; */
    cursor: pointer;
    position: relative;
    outline: none;
    /* overflow: hidden; To ensure the border doesn't extend outside the button's rounded corners */
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    align-items: center;
}

.btn-toggle-more .button-text {
    margin-right: 40px; /* Space for the toggle */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.btn-toggle-more::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 24px;
    border: 2px solid var(--clr-white);
    border-radius: 24px;
    box-sizing: border-box;
}

.btn-toggle-more .toggle-switch {
    width: 24px;
    height: 24px;
    background-color: var(--clr-white);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, transform 0.3s;
    /* z-index: 1; Make sure the switch appears above the border */
}

.btn-toggle-more:hover {
    background-color: var(--clr-fire-red);
}

.btn-toggle-more:hover .toggle-switch {
    background-color: var(--clr-white);
    transform: translate(14px, -50%);
}

/* TEST: Toggle Button White*/
.btn-toggle-touch-white {
    background-color: var(--clr-transparent);
    /* border: none; */
    border: 2px solid var(--clr-white);
    border-radius: 48px;
    color: var(--clr-white);
    padding: 10px 16px;
    /* font-size: 1rem; */
    cursor: pointer;
    position: relative;
    outline: none;
    /* overflow: hidden; To ensure the border doesn't extend outside the button's rounded corners */
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    align-items: center;
}

.btn-toggle-touch-white .button-text {
    margin-right: 40px; /* Space for the toggle */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.btn-toggle-touch-white::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 24px;
    border: 2px solid var(--clr-white);
    border-radius: 24px;
    box-sizing: border-box;
}

.btn-toggle-touch-white .toggle-switch {
    width: 24px;
    height: 24px;
    background-color: var(--clr-white);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, transform 0.3s;
    /* z-index: 1; Make sure the switch appears above the border */
}

.btn-toggle-touch-white:hover {
    background-color: var(--clr-transparent);
    border: 2px solid var(--clr-black-gray);
}

.btn-toggle-touch-white:hover .button-text {
    color: var(--clr-black-gray);
}

.btn-toggle-touch-white:hover::after {
    border: 2px solid var(--clr-black-gray);
}

.btn-toggle-touch-white:hover .toggle-switch {
    background-color: var(--clr-black-gray);
    transform: translate(14px, -50%);
}

/* TEST: Toggle Button Black */
.btn-toggle-touch-black {
    background-color: var(--clr-transparent);
    /* border: none; */
    border: 2px solid var(--clr-black-gray);
    border-radius: 48px;
    color: var(--clr-black-gray);
    padding: 10px 16px;
    /* font-size: 1rem; */
    cursor: pointer;
    position: relative;
    outline: none;
    /* overflow: hidden; To ensure the border doesn't extend outside the button's rounded corners */
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    align-items: center;
}

.btn-toggle-touch-black .button-text {
    margin-right: 40px; /* Space for the toggle */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.btn-toggle-touch-black::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 24px;
    border: 2px solid var(--clr-black-gray);
    border-radius: 24px;
    box-sizing: border-box;
}

.btn-toggle-touch-black .toggle-switch {
    width: 24px;
    height: 24px;
    background-color: var(--clr-black-gray);
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s, transform 0.3s;
    /* z-index: 1; Make sure the switch appears above the border */
}

.btn-toggle-touch-black:hover {
    background-color: var(--clr-transparent);
    border: 2px solid var(--clr-white);
}

.btn-toggle-touch-black:hover .button-text {
    color: var(--clr-white);
}

.btn-toggle-touch-black:hover::after {
    border: 2px solid var(--clr-white);
}

.btn-toggle-touch-black:hover .toggle-switch {
    background-color: var(--clr-white);
    transform: translate(14px, -50%);
}

/* TEST: Button TOUCH */
.btn-touch {
    background-color: var(--clr-transparent);
    border: 2px solid var(--clr-white);
    border-radius: 48px;
    color: var(--clr-white);
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.btn-touch .button-text {
    /* display: block; */
    /* margin-right: 40px; Space for the toggle */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.btn-touch .arrow-right {
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-orange-right.svg") no-repeat
        center;
}

.btn-touch:hover {
    border: 2px solid var(--clr-fire-red);
    background-color: var(--clr-fire-red);
}

.btn-touch:hover .arrow-right {
    background: url("../../public/icons/arrow-blue-right.svg") no-repeat center;
}

/* TEST: Button HOME */
.btn-home {
    background-color: var(--clr-transparent);
    border: 2px solid var(--clr-white);
    border-radius: 48px;
    color: var(--clr-white);
    padding: 10px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-home .button-text {
    /* margin-right: 40px; Space for the toggle */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.btn-home:hover {
    border: 2px solid var(--clr-fire-red);
    background-color: var(--clr-fire-red);
}

/* tag vertical */
.tag-vertical {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(
        180deg
    ); /* This rotates the text to be the right way up */
}

.tag-vertical .bracket-left {
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-blue-left.svg") no-repeat center;
    transform: rotate(90deg);
    transform-origin: center;
}

.p-tag-vertical {
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}

.tag-vertical .bracket-right {
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-blue-right.svg") no-repeat center;
    transform: rotate(90deg);
    transform-origin: center;
}

/* tags */

.tag-orange {
    display: flex;
    padding: 0.15rem 0.5rem 0.2rem 0.5rem;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid var(--clr-fire-red);
    background: var(--clr-fire-red);
    color: var(--clr-white);
}

.tag-blue {
    display: flex;
    padding: 0.15rem 0.5rem 0.2rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    border: 1px solid var(--clr-royal-blue);
    background: var(--clr-royal-blue);
    color: var(--clr-white);
}

.tag-white {
    display: flex;
    padding: 0.15rem 0.5rem 0.2rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    border: 1px solid var(--clr-white);
    background: var(--clr-transparent);
    color: var(--clr-white);
}

.tag-black {
    display: flex;
    padding: 0.15rem 0.5rem 0.2rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    border: 1px solid var(--clr-black-gray);
    background: var(--clr-transparent);
    color: var(--clr-black-gray);
}

.arrow-u-l {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../public/icons/arrow_U_L.svg") no-repeat center;
}

.arrow-u-r {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../public/icons/arrow_U_R.svg") no-repeat center;
}

.arrow-d-l {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../public/icons/arrow_D_L.svg") no-repeat center;
}

.arrow-d-r {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../public/icons/arrow_D_R.svg") no-repeat center;
}

/* CARD PROTOTYPE */
.card-container {
    perspective: 1000px;
}

.card {
    width: 27rem;
    height: 27rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 4px 4px 0px rgba(228, 228, 228, 0.25) inset,
        0px -2px 4px 0px rgba(198, 198, 198, 0.25) inset;
}

.card-front {
    border-radius: 2.5rem;
    background: var(--white-gray, #cad0d6);
}

.card-front .card-image {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.card-front .h4 {
    width: 15rem;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.card-front .card-icon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.card-front .btn-toggle-more {
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
}

.card-back {
    border-radius: 2.5rem;
    background: var(
        --Linear,
        linear-gradient(146deg, #151515 6.46%, #2c2c2c 53.91%, #000 90.82%)
    );

    transform: rotateY(180deg);
}

.card-back .h4 {
    width: 15rem;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.card-back .card-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
}

.card-back .btn-toggle-more {
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
}

.card-back .card-items {
    width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 1.5rem;
    bottom: 2.5rem;
}

.card-back p {
    position: relative;
}

.card-back p::before {
    content: "";
    display: block;
    width: 9px;
    height: 16px;
    background: url("../../public/icons/arrow-orange-right.svg") no-repeat
        center;
    position: absolute;
    left: -1.5rem;
    top: 0rem;
}

.card.flipped {
    transform: rotateY(180deg);
}
